* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Roboto", sans-serif;

}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.box_bio {
    background-color: rgba(65, 65, 65, 0.808);
    padding: 4rem;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border-radius: 20px;
    color: #fff;

    h3 {
        font-size: 1.5rem;
        text-align: center;
    }

    p {
        font-size: 1.5rem;
    }
}

.header_person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;

    h1 {
        font-size: 2rem;
    }

    h2 {
        text-decoration: underline;
    }

}

button {
    font-size: 1rem;
    width: min-content;
    margin: auto;
    padding: 1rem;
    padding-inline: 3rem;
    border-radius: 10px;
    background-color: rgb(80, 170, 255);
    outline: none;
}